---
import { getCollection, render } from "astro:content"; 
import Layout from "../../layouts/Layout.astro"; 
import AppleLogo from "../../components/AppleLogo.astro"; 
import Badge from "../../components/Badge.astro";
import BadgeList from "../../components/BadgeList.astro";

// Obtener las rutas estáticas para cada película
export const getStaticPaths = async () => { 
    const films = await getCollection('films');

    return films.map((film) => ({ 
        params: { slug: film.slug }, 
        props: { film } 
    })); 
}

// Obtener propiedades de la película
const { film } = Astro.props; 
const { slug, data } = film; 

// Desestructuración de datos de la película
const { title, subtitle, poster, director, duration, year, watch, hashtags, cast } = data; 
const { Content } = await render(film); 

---

<Layout title={`${title} (${year}) directed by ${director}`}> 
    <div class="flex flex-col lg:flex-row gap-12 p-20"> 
        <aside class="flex flex-col items-center gap-4"> 
            <a href="/" class="hover:underline opacity-60 self-end">← Volver atrás</a> 
            <img src={poster} alt={title} class="h-auto w-80" transition:name={`image-${slug}`} /> 
            <a 
                href={watch.spain} 
                title="Seguir enlace" 
                target="_blank" 
                rel="noopener noreferrer" 
                class="text-balance font-sans inline-flex gap-2 items-center bg-yellow-400 hover:bg-yellow-500 active:bg-yellow-600 text-black font-bold py-2 px-4 rounded-lg border border-yellow-500 transition duration-200 ease-in-out hover:scale-105 justify-center text-center w-72" 
            > 
                <AppleLogo /> 
                Ver con prueba gratis 
            </a> 
        </aside> 
        <section class="max-w-2xl"> 
            <div class="flex gap-x-3">
                <h1 class="font-black  text-4xl md:text-5xl mb-4">{title}</h1> 
                <h3 class="self-end mb-4 underline opacity-85 text-lg">{year}</h3>
                
                
            </div>

            <h2 class="uppercase mb-4 opacity-75">{subtitle}</h2>
        
            <div class="prose prose-invert"> 
                <Content /> 
            </div> 

            <BadgeList title=" Géneros " array={hashtags} />
            <BadgeList title=" Reparto " array={cast} />

            <footer class="border-b text-sm opacity-45 text-right flex justify-between">
                <p>{director}</p>
                <p>{duration} min</p>
            </footer>

            
        </section> 
    </div> 
</Layout> 
